<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指定映射器的命名空间为接口的代理 -->
<mapper namespace="com.mofany.mapper.StudentMapper">
    <!--  按id查询  -->
    <select id="queryById" resultType="com.mofany.entity.Student">
        select * from student where id = #{id}
    </select>
    <!--  按姓名查询  -->
    <select id="queryByName" resultType="com.mofany.entity.Student">
        select * from student where name = #{name}
    </select>
    <!--  插入一个对象  -->
    <insert id="insertData" parameterType="com.mofany.entity.Student">
        insert into student (id,name,sex,age) values (#{id},#{name},#{sex},#{age})
    </insert>
</mapper>